body{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* header */
header{
    background-color: rgb(175, 238, 175);
    width: 100vw;
    text-align: center;
}
h1{
    font-size: 3.5rem;
}
/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.infoReservasContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.inputContainer{
    display: flex;
    gap: 50px;
}
.articleComponenteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.articleComponente{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    padding: 0;
}
/* inicio */
.liReserva{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

/* info reserva */
.liInfoReserva{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
/* info gastos */
.liInfoGastos{
    list-style: none;
    line-height: 50px;
}
.infoPagar{
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}
