html
{
    height: 100%;
}
body
{
    min-width: 100vw;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(180deg, rgba(245,243,219,1) 69%, rgba(168,144,62,1) 100%);
    background-size: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}
/* header */
.bosqueImgContainer
{
    width: 100vw;
    height: 150px;
    padding: 15px;
    border-radius: 0 0 150% 150%;
    background: url("../img/forest.jpg") center;
    opacity: 0.8;
}
.logoContainer
{
    display: flex;
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.logoImg
{
    height: 100%;
    width: 300px;
}
.flechaImg
{
    height: 50%;
    width: 35%;
}
/* main */
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.infoReservasContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.inputContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.articleComponenteContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.articleComponente
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* inicio */
.ulCheckin, .ulCheckout
{
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 20px;
}
.liReserva
{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

/* info reserva */
.liInfoReserva
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
/* info gastos */
.liInfoGastos
{
    list-style: none;
    line-height: 50px;
}
.infoPagar
{
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}

/* insertar gastos */
.insertarGastos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}